<header class="md:mt-3 ">
    <div class="top_menu md:flex md:items-center  bg-white md:justify-center hidden">
        <div class="location flex items-center px-24">
            <i class="fal fa-map-marker-alt  text-xl text-orange-600"></i>
            <span class="text-xs ml-2"> 154 Cửa hàng khắp cả nước</span>
        </div>
        <div class="order flex items-center px-24">
            <i class="fal fa-phone-alt text-orange-600 text-xl"></i>
            <span class="text-xs ml-2"> Đặt Hàng: 0338898903</span>
        </div>
        <div class="shipping flex items-center px-24">
            <i class="fal fa-shipping-fast text-orange-600 text-xl"></i>
            <span class="text-xs ml-2">Freeship đơn từ {{ 50000 | currency: "VND"}}</span>
        </div>
    </div>
    <div class="bg-rose-50  inset-x-0 navs">
        <div class="main_menu md:flex  md:mt-3 container mx-auto p-4  ">
            <div class="logo ml-3 flex justify-between items-center">
                <img src="https://res.cloudinary.com/fpt-com/image/upload/v1651112762/milktea_x49uqg.png" width="60px"
                    class="" alt="">
                <span class="md:hidden block cursor-pointer">
                    <ion-icon name="menu" (click)="Menu(this)" class="text-xl"></ion-icon>
                </span>
            </div>
            <nav class="md:flex container mx-auto items-center zindex ">
                <ul
                    class="md:flex  md:justify-between md:items-center m-auto md:static absolute w-full left-0 md:w-auto md:py-0 py-8
                     md:pl-0 md:opacity-100 opacity-0 top-[-400px] transition-all ease-in-out duration-500 text-center">
                    <li><a routerLink="/" class="block px-4 cursor-pointer hover:text-orange-600 text-black text-lg">Trang chủ</a></li>
                    <li><a routerLink="/sanpham" class="block px-4 cursor-pointer hover:text-orange-600 text-black text-lg">Sản Phẩm</a></li>
                    <li><a routerLink="/gioithieu" class="block px-4 cursor-pointer hover:text-orange-600 text-black text-lg">Giới Thiệu</a>
                    </li>
                    <li><a routerLink="/tintuc" class="block px-4 cursor-pointer hover:text-orange-600 text-black text-lg">Tin Tức</a></li>
                    <li><a class="block px-4 cursor-pointer hover:text-orange-600 text-black text-lg">Cửa Hàng</a></li>
                    <li><a class="block px-4 cursor-pointer hover:text-orange-600 text-black text-lg">Tuyển Dụng</a>
                    </li>
                    <li class="relative md:left-20">
                       <a routerLink="/giohang">
                        <i class="far fa-shopping-cart text-[24px]"></i>
                       </a>
                       <a routerLink="/canhan" class="m-3">
                         <i class="far fa-user-circle text-[26px]"></i>
                        </a>
                        <!-- <a routerLink="account-login" class="text-black">Đăng Nhập</a>/ <a routerLink="account-register" class="text-black">Đăng Ký</a> -->
                    </li>
                </ul>
            </nav>
        </div>
    </div>
  
</header>