<footer class="bg-rose-50 ">
    <div class="container mx-auto md:flex  md:justify-between ">
      <div class="menu_1">
        <div class="title_menu1">
          <p class="w-64 font-medium text-orange-600">
            CÔNG TY CỔ PHẨN ĐẦU TƯ THƯƠNG MẠI DỊCH VỤ MILKTEA
          </p>
        </div>
        <div class="main_menu1 ">
          <div class="address flex items-center">
            <i class="fas fa-map-marker-alt text-sm"></i>
            <p class="text-sm ml-3">Thôn 1 xã Hiệp Hòa, thị xã Quảng Yên, Tỉnh Quảng Ninh</p>
          </div>
          <div class="phone flex items-center">
            <i class="fa fa-phone text-sm" aria-hidden="true"></i>
            <span class="text-sm ml-3">033898903</span>
          </div>
          <div class="mail">
            <i class="fas fa-mail-bulk"></i>
            <span class="text-sm ml-3">bhuy31333@gmail.com</span>
          </div>
        </div>
      </div>
      <div class="menu_2">
        <div class="title_menu_2">
          <h3 class="font-medium text-orange-600">Về Chúng Tôi</h3>
        </div>
        <div class="main_menu2">
          <p class="text-sm mt-2">Giới thiệu về milktea</p>
          <p class="text-sm mt-2">Tin tức khuyến mãi</p>
          <p class="text-sm mt-2">Cửa hàng</p>
          <p class="text-sm mt-2">Quy định chung</p>
        </div>
      </div>
      <div class="menu_3">
        <div class="title_menu_3">
          <h3 class="font-medium text-orange-600">Chính Sách</h3>
        </div>
        <div class="main_menu3">
          <p class="text-sm mt-2">Chính sách thành viên</p>
          <p class="text-sm mt-2">Hình thức thanh toán</p>
          <p class="text-sm mt-2">Giao nhận hàng</p>
          <p class="text-sm mt-2">Đổi trả</p>
        </div>
      </div>
    </div>
    <div
      class="container mx-auto border-t-2 border-white footer-bottom md:flex md:justify-between items-center pb-3 pt-3">
      <p class="text-xs font-medium">Milk Tea - Trà sữa bán chạy hàng đầu việt nam</p>
      <p class="text-xs">
        Copyrights © 2019 by ToCoToCoTea. All rights reserved.
      </p>
    </div>
  </footer>