<div class="content pb-5">
    <div class="banner container m-auto">
        <carousel [images]="imagess" [autoplay]="true"  [cellsToShow]="1" [height]="550">
        </carousel>
    </div>
    <div class="main_content bg-content">
    {{images}}

        <div class="container m-auto">
            <div class="title_content">
                <p class="text-center text-orange-400 italic text-2xl pt-3">TooCha Menu</p>
                <h2 class="text-center font-semibold text-3xl mt-3">Sản Phẩm Nổi Bật</h2>
            </div>
            <div class="main_content">
                <div class="product_hot md:grid md:grid-cols-4 md:gap-8 md:justify-between md:items-center mt-6  container mx-auto">
                  <ng-container *ngFor="let item of dataProduct">
                    <div class="product_milk mx-4 border border-gray-200 ">
                        <div class="milk_img">
                          <a (click)="loading()" routerLink="/sanpham/chitiet/{{item.link_sp}}"><img [src]="item.image" alt=""></a>
                        </div>
                        <div class="milk_text text-center bg-gray-100 py-4">
                            <a routerLink="/sanpham/chitiet/{{item.link_sp}}"><p class="font-semibold">{{item.name}}</p></a>
                            <p>{{item.price| currency: "VND"}}</p>
                            <button class="bg-orange-300 px-4 py-1 mt-3 hover:outline hover:outline-offset-1 hover:outline-orange-300 hover:bg-white translate-all">ĐẶT HÀNG</button>
                        </div>
                    </div>
                </ng-container>
               
                </div>
                <div class="view_all text-center">
                    <button class="bg-orange-300 px-4 py-1 mt-3 text-white">Xem Tất Cả</button>
                </div>
            </div>
        </div>
        <div class="promotion container m-auto">
            <div class="title_promotion">
                <p class="text-center text-orange-400 italic text-2xl pt-3">Tin tức và khuyến mãi</p>
                <h2 class="text-center font-semibold text-3xl mt-3">Khám phá TooCha nhận ngay khuyến mãi</h2>
            </div>
        </div>
    </div>

</div>