<div class="content container mx-auto mt-6 mb-3">
    <div class="cart md:flex">
        <div class="main_cart border-r-2 pr-2 min-w-[70%]">
            <table class="table-auto border-collapse w-full">
                <thead>
                    <tr class="border-b-2">
                        <th class="">Sản Phẩm</th>
                        <th class="">Giá</th>
                        <th class="">Số lượng</th>
                        <th class="">Tạm Tính</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of dataCart">
                    <tr>
                        <td class="flex items-center">
                            <button class="px-2"><i class="far fa-trash-alt text-[17px]"></i></button>
                            <div class="img_Cart p-3 md:block hidden">
                                <img [src]="item.image"
                                    class="w-[100px]" alt="">
                            </div>
                            <div class="details_cart ml-10">
                                <p class="font-semibold">{{item.name}}</p>
                                <div class="details_products">
                                    <p>Size: {{item.size_name}}</p>
                                    <p>Topping: {{item.topping_name}}</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span class="font-bold"> {{item.price|currency:'VND'}}</span>
                        </td>
                        <td>
                            <button class="bg-gray-300 px-3 py-[2.5px]" (click)="decreasequantity(quantityProduct)">-</button>
                            <input type="text" [value]="item.quantity" class="text-center border-2 w-[40px] py-[1px] outline-none" name="" id="">
                            <button class="bg-gray-300 px-3 py-[2.5px]" (click)="increasequantity(quantityProduct)">+</button>
                        </td>
                        <td>
                            <p class="font-bold">{{item.price*item.quantity|currency: "VND"}} </p>
                        </td>
                    </tr>
                </ng-container>
                </tbody>
            </table>
        </div>
        <div class="left-cart ml-4">
            <div class="title_left_Cart">
                <p class="font-bold border-b-2">Tổng tiền</p>
            </div>
            <div class="bill">
                <table class="table table-light table-fixed w-full">
                    <tbody>
                        <tr class="border-b">
                            <td>Tạm Tính</td>
                            <td>30000</td>
                        </tr>
                        <tr class="border-b">
                            <td>Tổng</td>
                            <td>30000</td>
                        </tr>
                    </tbody>
                </table>
                <div class="make_payment mt-3">
                    <button class="bg-orange-500  px-3 py-[4px] text-white w-full">TIẾN HÀNH THANH TOÁN</button>
                </div>
            </div>
            <div class="magiamgia">
                <div class="title_magiamgia mt-2 border-b-2">
                    <p>Mã Giảm Giá</p>
                </div>
                <div class="input_voucher mt-3">
                    <input type="text" placeholder="Tiến hành nhập mã giảm giá" class="w-full border outline-none">
                    <button class="bg-gray-100 px-3 py-[4px] text-black w-full mt-4">ÁP DỤNG MÃ GIẢM GIÁ</button>
                </div>
            </div>
        </div>
    </div>
</div>