<nav class="bg-white shadow roudend ">
    <ul>
        <li class="py-[20px] px-[60px] border-b hover:bg-orange-500 duration-300 hover:text-white">
            <a class="" routerLink="/canhan">Thông tin tài khoản</a></li>
        <li class="py-[20px] px-[60px] border-b hover:bg-orange-500 duration-300 hover:text-white">
            <a class=""  routerLink="/canhan/diachi" >Địa chỉ</a></li>
        <li class="py-[20px] px-[60px] border-b hover:bg-orange-500 duration-300 hover:text-white">
            <a class=""  routerLink="/canhan/lichsu" >Lịch sử mua hàng</a></li>
        <li class="py-[20px] px-[60px] border-b hover:bg-orange-500 duration-300 hover:text-white">
            <a class=""  routerLink="/canhan/doimatkhau" >Đổi mật khẩu</a></li>
        <li class="py-[20px] px-[60px] border-b hover:bg-orange-500 duration-300 hover:text-white">
            <a class=""  routerLink="/canhan" >Đăng Xuất</a></li>
    </ul>
</nav>