<div class="content ">
    <div class="orderDetails bg-white">
        <div class="title_products pb-3 shadow flex justify-between">
            <div>
                <p class="font-light text-[20px] ml-3 pt-3">Đơn Hàng | Chi tiết đơn hàng</p>
            </div>
            <div class="mt-3">
                <a routerLink="/admin/donhang"
                    class="bg-blue-600 rounded px-3 py-2 mr-3 pb-3 cursor-pointer hover:bg-blue-800 duration-300 text-white text-[14px]">Danh
                    sách đơn hàng</a>
            </div>
        </div>
        <div class="main_order">
            <div>
                <div class="details_order border m-3 bg-white rounded p-3 ">
                    <div class="confirm_order pb-3">
                        <ng-container *ngIf="status==1">
                            <button (click)="changeStatus(daxacnhan)" class="bg-blue-600 rounded px-2 hover:bg-blue-800 duration-300 py-1 mr-2 mt-2 text-white">Đã xác nhận</button>
                        </ng-container>
                        <ng-container *ngIf="status==2">
                            <button (click)="changeStatus(danggiaohang)" class="bg-blue-600 rounded px-2 hover:bg-blue-800 duration-300 py-1 mr-2 mt-2 text-white">Đang giao hàng</button>
                        </ng-container>
                        <ng-container *ngIf="status==3">
                            <button (click)="changeStatus(dagiaohang)" class="bg-blue-600 rounded px-2 hover:bg-blue-800 duration-300 py-1 mr-2 mt-2 text-white">Đã giao hàng</button>
                        </ng-container>
                        <ng-container *ngIf="status !==5 &&status !==4">
                            <button (click)="changeStatus(dahuy)" class="bg-blue-600 rounded px-2 hover:bg-blue-800 duration-300 py-1 mr-2 mt-2 text-white">Đã hủy</button>
                        </ng-container>
                    </div>
                    <div class="nofication">
                    <p>
                        Đơn hàng đã đặt lúc <b>{{created_at|date:'mediumTime'}}  phút ngày {{created_at|date:'shortDate'}} </b> Hiện tại là:<b>{{status|shipping}}</b>
                    </p>
                    </div>
                    <div class="main_orderdt ">
                        <div class="titleorder">
                            <p class="font-semibold text-slate-700 text-[25px] mt-3">Chi tiết đơn hàng</p>
                        </div>
                        <div>
                            <table class="table-auto w-full text-left mt-3">
                                <thead>
                                    <tr>
                                        <th class="text-slate-500">STT</th>
                                        <th class="text-slate-500">SẢN PHẨM</th>
                                        <th class="text-slate-500">ĐƠN GIÁ</th>
                                        <th class="text-slate-500">SỐ LƯỢNG</th>
                                        <th class="text-slate-500">TỔNG TIỀN</th>
                                    </tr>
                                </thead>
                                <tbody>
                                     <tr *ngFor="let item of dataOrderDt">
                                         <td>1</td>
                                         <td class="flex">
                                             <div>
                                                 <img class="md:w-24 md:block hidden" [src]="item.image"  alt="">
                                             </div>
                                             <div class="ml-2">
                                                 <p>{{item.name}}</p>
                                                 <p><b>Kích thước:</b> {{item.size_name}}</p>
                                                 <p><b>Topping:</b> {{item.topping_name}}</p>
                                             </div>
                                         </td>
                                         <td>
                                            {{item.price |currency:"VND"}}
                                         </td>
                                         <td>{{item.quantity}}</td>
                                         <td>{{item.sumprice|currency:"VND"}}</td>
                                     </tr>
                                </tbody>
                            </table>
                            <div class="payment">
                                <div class="titlePayment">
                                    <p class="font-semibold text-slate-700 text-[25px] mt-3">Tổng thanh toán</p>
                                </div>
                                <div class="mainPayment">
                                    <table class="w-full">
                                        <tr >
                                            <td><b>Tiền tạm tính:</b></td>
                                            <td>{{dataInfo['sumprice']|currency:"VND"}}</td>
                                        </tr>
                                        <tr >
                                            <td><b>Giảm giá:</b></td>
                                            <td>{{dataInfo['shipping']}}</td>
                                        </tr>
                                        <tr >
                                            <td><b>Tổng tiền:</b></td>
                                            <td>{{dataInfo['sumprice']|currency:"VND"}}</td>

                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="payment">
                                <div class="titlePayment">
                                    <p class="font-semibold text-slate-700 text-[25px] mt-3">Thông tin vận chuyển</p>
                                </div>
                                <div class="mainPayment">
                                    <table class="w-full">
                                        <tr >
                                            <td><b>Họ tên:</b></td>
                                            <td>{{dataInfo['name']}}</td>
                                        </tr>
                                        <tr >
                                            <td><b>Địa chỉ:</b></td>
                                            <td>{{dataInfo['address']}}</td>
                                        </tr>
                                        <tr >
                                            <td><b>Email:</b></td>
                                            <td>{{dataInfo['email']}}</td>

                                        </tr>
                                        <tr >
                                            <td><b>Thời gian đặt:</b></td>
                                            <td>{{dataInfo['created_at'] |date: 'short'}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>Ghi chú:</b></td>
                                            <td>{{dataInfo['additional']}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>